apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "application.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "application.labels" . | nindent 4 }}
spec:
  {{- if not .Values.application.autoscaling.enabled }}
  replicas: {{ .Values.application.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "application.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "application.labels" . | nindent 8 }}
    spec:
      {{- with .Values.application.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.global.nodeSelectorLabel }}
      nodeSelector:
          nodeSelectorLabel: {{ .Values.global.nodeSelectorLabel | quote }}
      {{- end }}
      {{- with .Values.application.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.application.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.application.podSecurityContext | nindent 8 }}
      containers:
        - name: application
          securityContext:
            {{- toYaml .Values.application.securityContext | nindent 12 }}
          image: "{{ .Values.application.image.repository }}:{{ .Values.application.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.application.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.application.service.containerPort }}
              protocol: {{ .Values.application.service.protocol }}
            - containerPort: {{ .Values.application.metrics.containerPort }}
              protocol: {{ .Values.application.metrics.protocol }}
          resources:
            {{- toYaml .Values.application.resources | nindent 12 }}
          env:
            - name: ENDPOINT_TYPE
              value: "rdf4j"
            - name: RDF4J_PROXY_HOST
              value: "{{ include "rdf4j.fullname" . }}"
            - name: RDF4J_PROXY_PORT
              value: "{{ .Values.rdf4j.service.containerPort }}"
            - name: ENDPOINT_BASE
              value: "http://{{ include "rdf4j.fullname" .}}:8080/rdf4j-server/"
            - name: REGISTRY_FIXED_URL
              value: "http://{{ .Release.Name }}-registry-application:9292/"
          volumeMounts:
            - name: '{{ include "application.fullname" . }}-data'
              mountPath: {{.Values.application.persistence.mountPath | quote }}
  volumeClaimTemplates:
    - metadata:
        name: '{{ include "application.fullname" . }}-data'
      spec:
        accessModes:
        {{- range .Values.application.persistence.accessModes }}
          - {{ . | quote }}
        {{- end }}
        resources:
          requests:
            storage: {{ .Values.application.persistence.size | quote }}